.contractManagement {
    text-align: center;
}

.contractManagement button {
    width: 200px;
    padding:8px;
    background-color: #CBE4DE;
    border: 2px solid #565656;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
}
  
  .contractManagement button:hover,
  .contractManagement button:active {
    background-color: #00FFCA;
    border-color: #ffffff;;
  }

.contractManagement table {
    margin-left: auto;
    margin-right: auto;
}

.contractManagement table,
.contractManagement th,
.contractManagement td {
    border: 2.5px solid black;
    border-color:#010202;
    border-radius: 12px;
    background-color: #0E8388;
    border-collapse: collapse;
    font-size: larger;
}

.contractManagement #header {
  padding: 10px;
}

.contractManagement #in {
  display: inline-block;
  padding-left:25px;
  padding-right:25px;
  padding-bottom:25px;
}
.contractManagement a:link {
  color: red;
  font-size: 32px;
}

/* visited link */
.contractManagement a:visited {
  color: green;
}

/* mouse over link */
.contractManagement a:hover {
  color: #00FFCA;
}

/* selected link */
.contractManagement a:active {
  color: #00FFCA;
}