.logger {
  background-color: #69e9cb;
  text-align: center;
  height:75px;
  width:500px;
  border-radius: 12px;
  margin:auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logger p {
  padding:.1rem;
} 