.addNetwork {
    background-color: #69e9cb;
    text-align: center;
    margin:auto;
    width: 100%;
    min-width: 50px;
    max-width: 450px; 
    border-radius: 12px;
}

.addNetwork button{
    background-color: #CBE4DE;
    min-width: 40px;
    max-width: 200px; 
    border-radius:12px;
    }
    .addNetwork button:hover,
    .addNetwork button:active{
      background-color: #00FFCA;
      border-color: #000000;;
    }