.connectWallet {
  background-color: #69e9cb;
  border-radius: 12px;
  width:100px;
  height: 50px;
  margin-top:5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  }

.connectWallet p {
  font-size: 14px;
  text-align:center;
  padding:.1rem;
  }

.connectWallet button {
  width: 80px;
  background-color: #CBE4DE;
  border: 2px solid #565656;
  border-radius: 12px;
  font-weight: bolder;
  cursor: pointer; 
  height: 80%;
}

.connectWallet button:hover,
.connectWallet button:active {
  background-color: #00FFCA;
  border-color: #ffffff;;
}