.connectWallet {
  background-color: #69e9cb;
  width:100px;
  text-align: center;
  height:50px;
  justify-content: center;
  align-items: center; 
  display:flex;
  border-radius: 12px;
  }

  .connectWallet #holla {
    font-size: 14px;
    }

.connectWallet button {
  width: 80px;
  background-color: #CBE4DE;
  border: 2px solid #565656;
  border-radius: 12px;
  font-weight: bolder;
  cursor: pointer; 
  height: 80%;
}

.connectWallet button:hover,
.connectWallet button:active {
  background-color: #00FFCA;
  border-color: #ffffff;;
}